body {
  background-color: #ffd9d3;
  background-image: linear-gradient(#FFFFFF 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.7) 1px, transparent 1px);
  background-position: center;
  background-size: 25px 25px, 25px 25px;
}

@keyframes fadeGrowIn {
  from {
    transform: scale(.8);
    opacity: 0; opacity: 1\9;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.spin {
  position: fixed;
  height: 100%;
  width: 100%;
  animation: fadeGrowIn 1s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  width: 75%;
  height: 40%;
  background-color: white;
  box-shadow: 10px 10px 0px #888888;
  transition: transform .3s ease-in-out;
  overflow: hidden;
}

.box:hover {
  transform: scale(1.05);
}

.name {
  font-size: 8vw;
  font-family: 'Montserrat', sans-serif;
  color: #888888;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {  
  display: flex;
  height: 50%;
  width: 100%;
  font-size: 8vw;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.button {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button:nth-child(2n+1) { 
    background: #ddd5e0;
    color: white; 
}

.button:nth-child(2n) { 
    background: #ffd9d3;
    color: white; 
}

@media screen and (min-width: 900px) {
  .box {
    width: 675px;
  }

  .name {
    font-size: 71px;
  }

  .buttons {
    font-size: 71px;
  }
}